
{% extends 'base.html' %}

{% block titulo %}Sobre{% endblock titulo %}

{% block conteudo %}
<header>
    <h1>About My Flask Application</h1>
</header>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">Sobre</a></li>
        <li><a href="/contact">Contato</a></li>
    </ul>
</nav>
<main>
    <p>Esta página fornece informações sobre a minha aplicação Flask.</p>
    <p>A aplicação é projetada para demonstrar como renderizar páginas HTML5 usando templates do Flask.</p>
    <div class="form-group">

    </div>
</main>
<footer>
    <p>&copy; 2024 Minha Aplicação Flask</p>
</footer>
{% endblock conteudo %}
